*{
    margin-right: 8px;
}

h1{
    background-color: black;
    color: white;
    width: 1868px;
    height: 60px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
h2{
    float: left;
    background-color: gray;
    color: black;
    width: 49%;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    
}
h4{
    float: left;
    background-color: lightgray;
    color: black;
    width: 24%;
    height: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;  
}
.float1{
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    background-color: lightgray;
    padding-top: 10px;
    padding-left: 10px;
}
.float2{
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    background-color: lightgray;
    padding-top: 10px;
    padding-left: 10px;
    display: block;
}
.text1{
    margin-right: 60%;

}
.text2{
    display: inline;
}
h6{
    float: left;
    background-color: lightgray;
    color: black;
    width: 1868px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px; 
}
