.text1{
    float: left;
    width: 200px;
    height: 150px;
    margin-right: 20px;
    background-color: lightblue;
    padding-top: 10px;
    padding-left: 10px;

}
.text2{
    float: right;
    width: 200px;
    height: 150px;
    margin-left: 20px;
    background-color: lightblue;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}